  <%= render 'header' %>
  <div class="container">
    <h4>Edit Contact</h4>
    <%= form_for(@contact) do |f| %>
      <%= f.label :First_Name %><br>
      <%= f.text_field :first_name, class: 'form-control' %><br>
      <%= f.label :Last_Name %><br>
      <%= f.text_field :last_name, class: 'form-control' %><br>
      <%= f.label :Email %><br>
      <%= f.text_field :email, class: 'form-control'%><br>
      <%= f.label :Phone %><br>
      <%= f.text_field :phone, class: 'form-control'%> <br>
      <%= f.label :Photo %><br>
      <%= f.file_field :image, class: 'form-control'%><br>
      <%=f.submit "Update Contact", class: "btn btn-primary"%>
      <%= link_to '<button type = "button" class = "btn btn-default">Cancel</button>'.html_safe, main_path(@contact) %>
    <%end%>
  </div>

