  <%= render 'header' %>
  <div class="container">
  <h4>Contact Details</h4> <%= link_to '<button type = "button" class = "pull-right">View All</button>'.html_safe, main_index_path %>
  <div class="row">
    <div class ="col-sm-4">
      <%= contact_avatar(@contact, class: 'media-object img-circle', style: 'width:200px;height:200px;') %>
    </div>
    <div class="col-sm-8">
      <h4>Full Name</h4>
      <%= @contact.first_name + " " + @contact.last_name %>
      <h4>Email</h4>
      <%= @contact.email %>
      <h4>Phone Number</h4>
      <%= @contact.phone %> <br><br>
    </div>
      <%= link_to "Edit Contact", edit_main_path(@contact), class: 'btn btn-primary'%>
      <%= link_to "Delete Contact", delete_main_path(@contact), class: 'btn btn-default' %>
  </div>
  </div>
