 <nav class = "navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-brand">Contacts Manager</p>
      </div>
    </div>
  </nav>
  <% provide(:title, "Log In") %>

  <div class = "container">
    <%= flash_messages %>
    <h3>Log In</h3>

    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

  </div>
